#scroll-top {
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  bottom: 2em;
  background-color: var(--color-shadow);
  border-radius: 50%;
  opacity: 0;
  z-index: 500;
  cursor: pointer;
  transition: all 0.12s ease-out;
}

#scroll-top.fade-in {
  animation: fade-in 0.12s linear forwards;
  -ms-animation: fade-in 0.12s linear forwards;
  -moz-animation: fade-in 0.12s linear forwards;
  -webkit-animation: fade-in 0.12s linear forwards;
  animation-delay: .1s;
  -ms-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
}

#scroll-top.fade-out {
  animation: fade-out 0.12s linear forwards;
  -ms-animation: fade-out 0.12s linear forwards;
  -moz-animation: fade-out 0.12s linear forwards;
  -webkit-animation: fade-out 0.12s linear forwards;
}

@keyframes fade-in {

  0% { 
    opacity: 0; 
  }

  100% { 
    opacity: 1; 
  }

}

@-moz-keyframes fade-in {

  0% { 
    opacity: 0; 
  }

  100% { 
    opacity: 1; 
  }

}

@-webkit-keyframes fade-in {

  0% { 
    opacity: 0; 
  }

  100% { 
    opacity: 1; 
  }

}

@keyframes fade-out {

  0% { 
    opacity: 1;
  }

  100% { 
    opacity: 0; 
  }

}

@-moz-keyframes fade-out {

  0% { 
    opacity: 1; 
  }

  100% { 
    opacity: 0; 
  }

}

@-webkit-keyframes fade-out {

  0% { 
    opacity: 1; 
  }

  100% { 
    opacity: 0; 
  }

}

#scroll-top:hover {
  background-color: var(--color-primary);
}

#scroll-top::after {
  content: "";
  position: absolute;
  top: 20px;
  height: 1px;
  width: 3px;
  background-color: #fff;
  border-radius: 99em;
  z-index: 1;
  transition: all 0.18s ease-out;
}

#scroll-top:hover::after {
  top: 13px;
  height: 28px;
}

#scroll-top svg {
  position: relative;
  top: 0;
  transition: all 0.18s ease-out;
}

#scroll-top:hover svg {
  top: -7px
}

@media (min-width: 1px) {

	@media (min-width: 1px) {
    
    #scroll-top {
      right: 1.2em;
      height: 60px;
      width: 60px;
    }

  }
  
	@media (min-width: 768px) {
    
    #scroll-top {
      right: 1em;
      height: 56px;
      width: 56px;
    }

  }
  
}

@media (min-width: 992px) {

	@media (min-width: 992px) {
    
    #scroll-top {
      right: 0.9em;
    }

  }
  
	@media (min-width: 1200px) {

    #scroll-top {
      right: 1.8em;
    }

  }
  
  #scroll-top {
    height: 52px;
    width: 52px;
  }

}