@media (min-width: 600px) {

  #cursor {
    position: fixed;
    top: 50%;
    left: -100px;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
  }

  #cursor--ball {
    height: 6px;
    width: 6px;
    background-color: var(--color-cursor);
    border-radius: 50%;
    transition: all 0.3s ease-out;
    pointer-events: none;
  }

  #cursor--ring {
    position: fixed;
    top: 50%;
    left: -100px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid var(--color-cursor);
    border-radius: 50%;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.2s ease-out;
    pointer-events: none;
    mix-blend-mode: difference;
  }

  #cursor--ring text { 
    fill: var(--color-background);
  font-family: var(--font-regular);
  letter-spacing: 5px;
  }

  body.dark--scheme #cursor--ring text { 
    fill: var(--color-heading);
  }

  #cursor--ring svg { 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    animation: rotate 5s infinite linear;
    -ms-animation: rotate 5s infinite linear;
    -moz-animation: rotate 5s infinite linear;
    -webkit-animation: rotate 5s infinite linear;
  }

  @keyframes rotate {

      from { 
        transform: scale(6.5) rotate(360deg); 
      }

      to { 
        transform: scale(6.5) rotate(0); 
      }

  }

  @-moz-keyframes rotate {

      from { 
        -moz-transform: scale(6.5) rotate(360deg); 
      }

      to { 
        -moz-transform: scale(6.5) rotate(0); 
      }

  }

  @-webkit-keyframes rotate {

      from { 
        -webkit-transform: scale(6.5) rotate(360deg); 
      }

      to { 
        -webkit-transform: scale(6.5) rotate(0); 
      }

  }

}